body {
    margin: 0%;
    padding: 0%;
    border: 0%;
    font-family: sans-serif;
    background: white;
  }

  .navbar {
    background-color: teal;
    font-size: 20px;
    font-family: 'Abril Fatface', cursive;
  }
  
  .container {
    text-align: center;
    margin-top: 50px;
  }
  
  .Text {
      font-family: Geneva, Tahoma, sans-serif;
      padding: 20px;
      color: teal;
  }

  #frame {
    width: 100%; 
    margin-top: 20px;
  }

  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 20px;
    }
  }
  
@media only screen and (max-width: 320px) {
  h1 {
    font-size: 15px;
  }
}