body {
    margin: 0%;
    padding: 0%;
    border: 0%;
    font-family: sans-serif;
    background: white;
  }

  .navbar {
    color: white;
    background-color: teal;
    font-size: 20px;
  }
  
  .container {
    text-align: center;
    margin-top: 50px;
  }
  
  .headerText {
      font-family: Geneva, Tahoma, sans-serif;
      padding: 20px;
      color: teal;
      text-align: center;
  }

  #frame {
    width: 100%; 
    margin-top: 20px;
  }