body {
    margin: 0%;
    padding: 0%;
    border: 0%;
    font-family: sans-serif;
    background-image: url("https://images.pexels.com/photos/2683373/pexels-photo-2683373.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .navbar {
    background-color: teal;
    font-size: 20px;
    font-family: 'Abril Fatface', cursive, sans-serif;
  }
  
  a {
    color: white;
  }
  .container {
    text-align: center;
    margin-top: 50px;
  }
  
  .Text {
      font-family: 'Lilita One', bold, sans-serif;
      padding: 20px;
      color: #000000;
  }

  #frame {
    width: 100%; 
    margin-top: 20px;
  }

  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 20px;
    }
  }
  
@media only screen and (max-width: 320px) {
  h1 {
    font-size: 15px;
  }
}